<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matthiasko.scrollforreddit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PostListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostDetailActivity"
            android:label="@string/title_post_detail"
            android:parentActivityName=".PostListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matthiasko.scrollforreddit.PostListActivity" />
        </activity>

        <activity
            android:name="com.matthiasko.scrollforreddit.LoginWebViewActivity"
            android:label="LoginWebViewActivity"
            android:parentActivityName="com.matthiasko.scrollforreddit.PostListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matthiasko.scrollforreddit.PostListActivity" />
        </activity>

        <!-- change value below to reddit username,
             TODO: get from system prefs -->
        <meta-data android:name="net.dean.jraw.REDDIT_USERNAME" android:value="(strafeon)" />
    </application>

</manifest>
